.aboutContainer {
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
    max-width: 1800px;
    background-color: #272c4c;
    box-shadow: 5px 5px 5px #252337;
}

.aboutText {
    padding: 20px;
}

.aboutText h2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.aboutText p {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center; /* Center the paragraph text */
}

.teamList {
    padding: 20px;
}

.teamList h2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.teamList ul {
    list-style: none;
    padding: 0;
}

.teamGroup1,
.teamGroup2
{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.teamGroup1 ul
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.teamGroup2 ul
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

.teamMember {
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 4px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 22px;
    text-align: center;
}

.teamMember:hover {
    transform: scale(1.05);
    text-shadow: 0 0 10px #848aab; /* Glow effect */
}

.projectManager {
    font-size: 0.8em;
    color: #ccc;
    display: block;
    margin-top: 5px;
}

.developerRole {
    font-size: 0.8em;
    color: #ccc;
    display: block;
    margin-top: 5px;
}