body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../public/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.container {
    background-color: rgb(140, 150, 209);
    border-width: 50px;
    border-color: white;
    box-shadow: 10px 10px rgb(82, 91, 114);
    border-radius: 5px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;

    display: flex;
    flex-direction: column;

}

#mySubmit {
    background-color: rgb(126, 172, 240);
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    padding: 3%;
}

#mySubmit:hover {
    background-color: rgb(82, 91, 114);
}

#email {
    border-radius: 5px;;
    height: 30px;
    width: 100%;
}
    