body {
    background: rgb(0, 0, 0);
    background: linear-gradient(34deg, rgba(0, 0, 0, 1) 0%, rgba(39, 44, 76, 1) 31%, rgba(78, 49, 77, 1) 45%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.page-logo {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    width: 180px;
    height: auto;
    transition: transform 0.3s ease; 
}

.page-logo:hover {
    transform: scale(1.1);
}
