body {
    background: rgb(0,0,0);
    background: linear-gradient(34deg, rgba(0,0,0,1) 0%, rgba(39,44,76,1) 31%, rgba(78,49,77,1) 45%);
    height: 110vh;
}

.page-title {
    text-align: left;
    padding-left: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    color: white;
    position: absolute; /* Position it relative to the page */
    top: 10px; /* Distance from the top of the page */
    left: 10px; /* Distance from the left of the page */
    font-size: 24px; /* Adjust font size */
    font-weight: bold; /* Make it bold */
    z-index: 1001; /* Ensure it appears above other elements */
}
