.ForgotPassword {
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 40px;
    width: 400px;
    background-color: #272c4c;
    box-shadow: 5px 5px 5px #252337;
    text-align: center;
}

.ForgotPassword h1, .ForgotPassword h2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.ForgotPassword h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ForgotPassword h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.ForgotPassword input {
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    border-color: white;
    color: #272c4c;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    outline: none;
    border: 2px solid #848aab;
    box-shadow: none;
    margin-bottom: 20px;
}

.ForgotPassword button {
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background-color: #848aab;
    color: white;
    cursor: pointer;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.ForgotPassword button:hover {
    background-color: #4e314d;
}

.ForgotPassword .message {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    padding-top: 10px;
}