.NavBar {
    background-color: #272c4c;
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px #252337;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1.5px solid #ccc;
    
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.NavBar li {
    display: inline;
}

.NavBar a {
    color: white;
    text-decoration: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.NavBar a:hover {
    color: #848aab;
}